{% extends "master.html" %}

{% block navigation %}
 {% if user %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><em>{{user.fullname}}</em><b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="/newpost">New Post</a></li>
      <li><a href="/user/{{user.key | filterKey}}/myposts">My Posts</a></li>
      <li><a href="/user/{{user.key | filterKey}}/drafts">Drafts</a></li>
      <li class="divider"></li>
      <li><a href="/profile/{{ user.key | filterKey}}">Profile</a></li>
      <li><a href="#">Report Problem</a></li>
      <li><a href="/logout">Sign Out</a></li>
    </ul>
  </li>
{% else %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Welcome</b><b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Signup</a></li>
    </ul>
  </li>
{% endif %} 
{% endblock navigation %}


{% block content %}
{% if empty_post %}
  <div style="width:100%" class="active alert alert-danger">
    <em>{{ empty_post }}</em>
  </div>
{% endif %}

<ol class="breadcrumb" style="margin-bottom: 5px;">
  <li><a href="/home">Home</a></li>
  <li class="active">All Posts</li>
</ol>

<div class="container">
  <ul>
    {% for post in posts %}
    <li><h4><a href="/blog/{{post.key|filterKey}}" target="_blank">
              {{post.title}} - {{post.created.strftime("%b %d, '%y")}} - {{ post.created.strftime("%I:%M %p")}}
            <a/>
        </h4>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

