{% extends "master.html" %}

{% block navigation %}
 {% if user %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><em>{{user.fullname}}</em><b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="/newpost">New Post</a></li>
      <li><a href="/user/{{user.key | filterKey}}/myposts">My Posts</a></li>
      <li><a href="/user/{{user.key | filterKey}}/drafts">Drafts</a></li>
      <li class="divider"></li>
      <li><a href="/profile/{{ user.key | filterKey}}">Profile</a></li>
      <li><a href="#">Report Problem</a></li>
      <li><a href="/logout">Sign Out</a></li>
    </ul>
  </li>
{% else %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Welcome</b><b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Signup</a></li>
    </ul>
  </li>
{% endif %} 
{% endblock navigation %}


{% block content %}

{% if delete_draft %}
  <div style="width:100%" class="active alert alert-success">
    <em>Draft Deleted Successfully!</em>
  </div>
{% endif %}

<ol class="breadcrumb" style="margin-bottom: 5px;">
  <li><a href="/home">Home</a></li>
  <li><a href="/profile/{{user.key | filterKey}}">{{user.fullname}}</a></li>
  <li class="active">Drafts</li>
</ol>

<div class="container">
  <div class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead class="thead-default">
      <tr>
        <th>#</th>
        <th>Post Title</th>
        <th>Updated</th>
        <th>Time</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Make Public?</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
        <tr>
          <td>
            {{loop.index}}
          </td>
          <td>
            {% if post.title %}
              <a href="/draft/{{post.key | filterKey}}">{{post.title}}</a>
            {% else %}
              <b><i>Empty Title</i></b>
            {% endif %}
          </td>
          <td>
            {{post.last_modified.strftime("%b %d, '%y")}}
          </td>
          <td>
            {{ post.last_modified.strftime("%I:%M %p")}}
          </td>
          <td>
            <a  href="/draft/{{ post.key | filterKey }}/edit" style="margin:4px"><span class="fa fa-edit"></span></a>
          </td>
          <td>
            <a href="/draft/{{ post.key | filterKey }}/delete"><span class="fa fa-trash-o"></span></a>
          </td>
          <td>
            <a href="/draft/{{post.key | filterKey}}/post" class="btn btn-sm btn-success"><i class="fa fa-check"></i> Post in Public</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
{% endblock %}

