{% extends "master.html" %}

{% block navigation %}
 {% if user %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><em>{{user.fullname}}</em><b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="/newpost">New Post</a></li>
      <li><a href="/user/{{user.key | filterKey}}/myposts">My Posts</a></li>
      <li><a href="/user/{{user.key | filterKey}}/drafts">Drafts</a></li>
      <li class="divider"></li>
      <li><a href="/profile/{{ user.key | filterKey}}">Profile</a></li>
      <li><a href="#">Report Problem</a></li>
      <li><a href="/logout">Sign Out</a></li>
    </ul>
  </li>
{% else %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Welcome</b><b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Signup</a></li>
    </ul>
  </li>
{% endif %} 
{% endblock navigation %}


{% block content %}
{% if empty_title_content %}
  <div style="width:100%" class="active alert alert-danger">
    <em>The title and/or blog content cannot be left empty!</em>
  </div>
{% endif %}

<ol class="breadcrumb" style="margin-bottom: 5px;">
  <li><a href="/home">Home</a></li>
  <li><a href="/profile/{{user.key | filterKey }}">{{user.fullname}}</a></li>
  <li class="active">Edit Post / {{ post.title }}</li>
</ol>

<div class="container">
  <div class="row">
  <form id="form" method='post'>
    <div class="col-md-9">
      <h3>Start editing your post here .... </h3>
      <input id="post-title" type="text" name="post-title" placeholder="Title can't be empty!"
          style="margin-bottom:10px; padding:5px" class="form-control" value="{{post.title}}">
    </div>
    <div class="col-md-9">
      <textarea id="content" name="content">{{post.content}}</textarea>
      <br>
    </div>
    <div class='col-md-9'>
      <button type="submit" class="btn btn-md btn-success">
        <i class="fa fa-check"></i> Confirm Edit
      </button>
      <a href='/home' id="cancel-post" tabindex="4" class="pull-right btn btn-md btn-danger">
        <i class="fa fa-times"></i> Cancel
      </a>

    <br><br><br><br><br>
    </div>
  </form>
</div>
</div>
{% endblock %}

