{% extends "master.html" %}

{% block navigation %}
 {% if user %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><em>{{user.fullname}}</em><b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="/newpost">New Post</a></li>
      <li><a href="/user/{{user.key | filterKey}}/myposts">My Posts</a></li>
      <li><a href="/user/{{user.key | filterKey}}/drafts">Drafts</a></li>
      <li class="divider"></li>
      <li><a href="/profile/{{ user.key | filterKey}}">Profile</a></li>
      <li><a href="#">Report Problem</a></li>
      <li><a href="/logout">Sign Out</a></li>
    </ul>
  </li>
{% else %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Welcome</b><b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Signup</a></li>
    </ul>
  </li>
{% endif %}
{% endblock navigation %}

{% block content %}

<ol class="breadcrumb" style="margin-bottom: 5px;">
  <li class="active">Home</li>
</ol>

<div id="masthead">
  {% if delete_post %}
    <div style="width:100%" class="active alert alert-success">
      {{delete_post}}
    </div>
  {% endif %}
  <div class="row">
    <div class="col-md-7">
      <h1>Blog
          <p class="lead"><i>Pen down your thoughts...</i></p>
        </h1>
    </div>
    <!-- <div class="col-md-5">
      <div class="well well-lg">
        <div class="row">
          <div class="col-sm-12">
            Ad Space
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>


<!-- <div class="row">
  <div class="col-md-10"> -->
    {% if list_dict %}
      {% for l in list_dict %}
    <div class="panel">
          <div class="panel-body" style="border-top: 5px solid #1BC1A1;">
              <div class="row">
                <div class="col-md-4 col-sm-5" style="margin:0">
                  <a class="story-img" href="/profile/{{ l['a_id'] }}">
                    <img src="/static/no-user.png" style="width:100px;height:100px" class="img-circle">
                      <span style="color:#1BC1A1">{{ l['a_name'] }}</span>
                  </a>
                </div>
                <div class="col-md-4 col-sm-5 pull-right">
                  <b style="color:#1BC1A1;font-size:18px;font-family:'Josefin Slab','Open Sans',sans-serif">
                    {{ l['p_created'].strftime("%b %d, '%y") }}
                  </b>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9" style="text-align:justify;text-justify:inter-word">
                  <a class='anchor-link' href="/blog/{{ l['p_id'] }}">
                    <h3 style="color:#1BC1A1">
                      {{l['p_title'] | safe}}
                      <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </h3>
                  </a>
                  <!-- <div class="row"> -->
                  <div>
                    <div class="post-container">
                      <div class="postbody">
                        {{ l['p_content'] | safe}}
                      </div>
                      <a href="/blog/{{ l['p_id'] }}">Read More...</a>
                    </div>

                    <ul class="list-inline">
                      <!-- <li><a href="#">{{ l['p_created'].strftime("%b %d, '%y") }}</a></li> -->
                      <li><span class="likeCount label label-pill label-info">{{ l['like_count'] }} likes</span></li>
                      <li>
                        <a id="like-button" data-key="{{ l['p_id'] }}" href="#" class="btn btn-md btn-sm btn-success">
                          <span id="like" class="fa fa-thumbs-up"></span>&nbsp;Like
                        </a>
                      </li>
                      <li>
                        <button class="btn btn-clippy" data-clipboard-text="http://your-own-blog.appspot.com/blog/{{ l['p_id'] }}">
                          <img src="/static/clippy.svg" alt="Copy link!" height="15px" width="15px">
                        </button>
                      </li>
                      <li><a href="/blog/{{ l['p_id'] }}#comments"><span class="fa fa-comments"></span> {{l['c_count']}} comments</a></li>
                      {% if user.key == l['a_key'] %}
                        <li><a href="/editblog/{{ l['p_id'] }}"><span style="color:#1BC1A1" class="fa fa-edit"></span></a></li>
                        <li><a href="/deleteblog/{{ l['p_id'] }}"><span style="color:#1BC1A1" class="fa fa-trash"></span></a></li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
                <div class="col-md-3"></div>
                <br>
                <br>
          </div>
        </div>
      </div>
      {% endfor %}
    {% else %}
        <p>There are no posts in the website! :( Please <a href='/newpost'>click here to start writing one</a>!
            Make sure you're <a href='/login'>Logged In</a> first!</p>
    {% endif %}
    </div>
<!--   </div>
  </div>
 -->

{% endblock %}
