{% extends "master.html" %}

{% block navigation %}
  {% if user %}
    <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><em>{{user.fullname}}</em><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/newpost">New Post</a></li>
            <li><a href="#">All Posts</a></li>
            <li><a href="#">Drafts</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Preferences</li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Report Problem</a></li>
            <li><a href="/logout">Sign Out</a></li>
          </ul>
      </li>
  {% else %}
    <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Signup</a></li>
          </ul>
         </li>
  {% endif %}
{% endblock navigation %}


{% block content %}
  {% if post %}
    <h1>{{post.title | safe}}</h1>
    <br><br>
    <div>
      {{post.content | safe}}
    </div>
  {% endif %}
{% endblock %}