{% extends "master.html" %} 

{% block navigation %}
 {% if user %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-family:Comic Sans MS"><em>{{user.fullname}}</em><b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="/newpost">New Post</a></li>
      <li><a href="#">All Posts</a></li>
      <li><a href="#">Drafts</a></li>
      <li class="divider"></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Report Problem</a></li>
      <li><a href="/logout">Sign Out</a></li>
    </ul>
  </li>
{% else %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Welcome</b><b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Signup</a></li>
    </ul>
  </li>
{% endif %} 
{% endblock navigation %} 

{% block content %}
<div id="masthead">
  <div class="row">
    <div class="col-md-7">
      <h1>Blog
          <p class="lead"><i>Pen down your thoughts...</i></p>
        </h1>
    </div>
    <!-- <div class="col-md-5">
      <div class="well well-lg">
        <div class="row">
          <div class="col-sm-12">
            Ad Space
          </div>
        </div>
      </div>
    </div> -->
  </div>


</div>


<div class="row">

  <div class="col-md-12">

    <div class="panel">
      <div class="panel-body">
        {% if posts and all_users %}
            {% for each_post in posts %}
              {% for each_user in all_users %}
                {% if each_post.user == each_user.key %}
              <br>
              <div class="row">
                <div class="col-md-4 col-sm-5 text-center">
                  <a class="story-img" href="/user/{{ each_user.key | filterKey }}">
                    <img src="//placehold.it/100" style="width:100px;height:100px" class="img-circle">
                    {{ each_user.fullname }}
                  </a>
                </div>
              </div>
              <div class="row">
              <div class="col-md-10 col-sm-9">
                <h3>{{each_post.title | safe}}</h3>
                <div class="row">
                  <div class="col-xs-9">
                    <p style="text-align: justify;text-justify: inter-word;">{{each_post.content | safe}}</p>
                    <p class="lead">
                      <button class="btn btn-default">Read More</button>
                    </p>
                    <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
                    <ul class="list-inline">
                      <li><a href="#">{{ each_post.created.strftime("%b %d, '%y") }}</a></li>
                      <li><a href="#"><i class="fa fa-comment"></i> 4 Comments</a></li>
                      <li><a href="#"><i class="fa fa-share"></i> 34 Shares</a></li>
                    </ul>
                  </div>
                  <div class="col-xs-3"></div>
                </div>
                <br>
                <br>
              </div>
            </div>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% else %}
            <p>There are no posts in the website! :( Please <a href='/newpost'>click here to start writing one</a>!
                Make sure you're <a href='/login'>Logged In</a> first!</p>
        {% endif %}
        <!-- end row -->
      </div>
    </div>



  </div>
  <!--/col-12-->
</div>

{% endblock %}
