{% extends "master.html" %} 

{% block navigation %}
  {% if user %}
    <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><em>{{user.fullname}}</em><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="https://google.com">New Post</a></li>
            <li><a href="#">All Posts</a></li>
            <li><a href="#">Drafts</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Preferences</li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Report Problem</a></li>
            <li><a href="/logout">Sign Out</a></li>
          </ul>
      </li>
  {% else %}
    <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">New User<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Signup</a></li>
          </ul>
         </li>
  {% endif %}
{% endblock navigation %}

{% block content %}

{% if error %}
<div style="width:100%" class="active alert alert-danger">
  {{error}}
</div>
{% endif %}

{% if new_user %}
<div style="width:100%" class="active alert alert-success">
  Thank You for connencting with us <b>{{new_user}}</b>! Please Log In here!
</div>
{% endif %}


{% if thank_you_for_visiting %}
<div style="width:100%" class="active alert alert-success">
  <em>{{ thank_you_for_visiting }}</em>
</div>
{% endif %}

  <div class="row">

    <div class="col-lg-5" style="margin:0">

      <h3>Returning User ?</h3>
      <br>
      <form id="login-form" action="/login" method="post" role="form" style="display: block;">
        <div class="form-group">
          <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username or Email" value="{{username}}">
        </div>
        <div class="form-group">
          <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
        </div>
        <div class="form-group text-center">
          <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
          <label for="remember"> Remember Me</label>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
              <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-6">
              <div class="text-center">
                <a href="#" tabindex="5" class="forgot-password">Forgot Password?</a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="text-center">
                <a href="/register" tabindex="5" class="forgot-password">New User ? Sign Up Here</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
</div>
{% endblock %}
