{% extends "master.html" %}

{% block navigation %}
 {% if user %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><em>{{user.fullname}}</em><b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="/newpost">New Post</a></li>
      <li><a href="/user/{{user.key | filterKey}}/myposts">My Posts</a></li>
      <li><a href="/user/{{user.key | filterKey}}/drafts">Drafts</a></li>
      <li class="divider"></li>
      <li><a href="/profile/{{ user.key | filterKey}}">Profile</a></li>
      <li><a href="#">Report Problem</a></li>
      <li><a href="/logout">Sign Out</a></li>
    </ul>
  </li>
{% else %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Welcome</b><b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Signup</a></li>
    </ul>
  </li>
{% endif %} 
{% endblock navigation %}


{% block content %}
{% if empty_post %}
  <div style="width:100%" class="active alert alert-danger">
    <em>{{ empty_post }}</em>
  </div>
{% endif %}

<ol class="breadcrumb" style="margin-bottom: 5px;">
  <li><a href="/home">Home</a></li>
  <li><a href="/profile/{{user.key | filterKey }}">{{user.fullname}}</a></li>
  <li class="active">New Post</li>
</ol>

<div class="container">
  <div class="row">
  <form id="form1" method='post'>
    <div class="col-md-9 postTitle">
      <h2 id="post-title" name="post-title" style="margin-bottom:10px; padding:5px" class="editable">
          Click here to give a Title!
      </h2>
    </div>
    <div class="col-md-9">
      <textarea id="content" name="content">Start writing here...</textarea>
      <br>
    </div>
    <div class="col-md-9">
      <input type="checkbox" tabindex="3" class="" name="draft" id="draft">
      <label for="draft" style="color:#1BC1A1"> Save as Draft</label>
    </div>
    <div class='col-md-9'>
      <div class="row">
        <div class="col-md-4">
          <button type="submit" name="login-submit" id="post-submit" tabindex="4" class="btn btn-md btn-success">
            <i class="fa fa-check"></i> Submit Post
          </button>
        </div>
        <div class="col-md-4">
          <a href='/home' id="cancel-post" tabindex="4" class="btn btn-md btn-danger">
            <i class="fa fa-times"></i> Cancel</a>
        </div>
      </div>
    <br><br><br><br><br>
    </div>
  </form>
</div>
</div>
{% endblock %}

