{% extends "master.html" %} 

{% block navigation %}
 {% if user %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><em>{{user.fullname}}</em><b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="/newpost">New Post</a></li>
      <li><a href="#">All Posts</a></li>
      <li><a href="#">Drafts</a></li>
      <li class="divider"></li>
      <li><a href="/profile/{{ user.key | filterKey}}">Profile</a></li>
      <li><a href="#">Report Problem</a></li>
      <li><a href="/logout">Sign Out</a></li>
    </ul>
  </li>
{% else %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Welcome</b><b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Signup</a></li>
    </ul>
  </li>
{% endif %} 
{% endblock navigation %} 

{% block content %}

{% if public_profile %}
<ol class="breadcrumb" style="margin-bottom: 5px;">
  <li><a href="/home">Home</a>
  <li class="active">{{user_public.fullname}}</li>
</ol>

  <div class="container">
    <h1>{{user_public.fullname}}</h1>
    <hr>
    <div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          {% if user_public.photo %}
            <img src="user_public.photo | fitlerPhoto" class="img-responsive img-rounded" alt="avatar">
          {% else %}
            <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
          {% endif %}
        </div>
      </div>

      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <h3>Personal info:</h3>
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-lg-3 control-label">Full Name:</label>
            <div class="col-lg-8">
              <label class="form-control" type="text">{{user_public.fullname}}</label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Location:</label>
            <div class="col-lg-8">
              <label class="form-control" type="text">{{user_public.location}}</label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <label class="form-control" type="email">{{user_public.email}}</label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Username:</label>
            <div class="col-md-8">
              <label class="form-control" type="text">{{user_public.user_name}}</label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">About:</label>
            <div class="col-lg-8 col-md-9 col-sm-10">
              {% if user_public.about %}
              <textarea disabled class="form-control" name="about" type="text">{{user_public.about}}"></textarea>
              {% else %}
              <textarea disabled class="form-control" name="about" type="text">This user tends to be secretive about himself</textarea>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

{% else %}

<ol class="breadcrumb" style="margin-bottom: 5px;">
  <li><a href="/home">Home</a>
  <li class="active">{{user.fullname}} - Edit Profile</li>
</ol>

<div class="container">
    <h1>{{user.fullname}}</h1>
    <hr>
  <div class="row">
      <!-- left column -->
    <div class="col-md-3">
      <form action="{{upload_url}}" method="post" enctype="multipart/form-data">
        <div class="text-center">
          {% if user_photo_url %}
            <img src="user_photo_url" class="img-responsive img-rounded" alt="avatar">
            <h6>Upload a different photo...</h6>
            
            <input type="file" name="img" class="form-control">
            <br>
            <input type="submit" name="img" class="btn btn-primary" value="Change Picture">
          {% else %}
            <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
            <h6>Upload a different photo...</h6>
            
            <input type="file" class="form-control">
            <br>
            <input type="submit" class="btn btn-primary" value="Change Picture">
          {% endif %}
        </div>
      </div>
      </form>
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
      
       {% if details_updated %}
        <div class="alert alert-success alert-dismissable" style="display:none">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
      {% endif %}

        <h3>Personal info:</h3>
        <form class="form-horizontal" method='post' action='/personalinfo'>
          <div class="form-group">
            <label class="col-lg-3 control-label">Full Name:</label>
            <div class="col-lg-8">
              <input class="form-control" name="fullname" type="text" value="{{user.fullname}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Location:</label>
            <div class="col-lg-8">
              <input class="form-control" name="location" type="text" value="{{user.location}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" name="email" type="email" value="{{user.email}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Username:</label>
            <div class="col-md-8">
              <input class="form-control" name="username" type="text" value="{{user.user_name}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">About:</label>
            <div class="col-lg-8">
              {% if user.about %}
                <textarea class="form-control" name="about" type="text">{{ user.about}}</textarea> 
              {% else %}
                <textarea class="form-control" name="about" type="text" placeholder="Describe yourself in short..."></textarea>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="submit" class="btn btn-primary" value="Save Changes">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
        </form>
      </div>


      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9 personal-info">

        {% if pass_update == 'success' and pass_update!= '' %}
          <div class="alert alert-success alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a> 
            <i class="fa fa-check" aria-hidden="true"></i>
            The password was changed successfully!
          </div>
        {% elif pass_update == 'fail' %}
          <div class="alert alert-danger alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a> 
            <i class="fa fa-times" aria-hidden="true"></i>
            Either the passwords do not match or you did not match the minimum requirements to set the password!
              <li>The password should be atleast 3 characters long</li>
              <li>The password can't be more than 20 characters!</li>
             Please try agian {{user.fullname}}
          </div>
        {% else %}

        {% endif %}
        <h3>Change Password ?</h3>
        
        <form class="form-horizontal" method="post" action="/changepass">
          <div class="form-group">
            <label class="col-md-3 control-label">New Password:</label>
            <div class="col-md-8">
              <input class="form-control" name="password" id="pass" type="password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm New password:</label>
            <div class="col-md-8">
              <input class="form-control" name="confirm_pass" type="password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="submit" class="btn btn-primary" value="Save Changes">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
        </form>
      </div>
      </div>
  </div>
</div>

{% endif %}

{% endblock %}