{% extends "master.html" %} 

{% block navigation %}
 {% if user %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><em>{{user.fullname}}</em><b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="/newpost">New Post</a></li>
      <li><a href="#">All Posts</a></li>
      <li><a href="#">Drafts</a></li>
      <li class="divider"></li>
      <li><a href="/profile/{{ user.key | filterKey}}">Profile</a></li>
      <li><a href="#">Report Problem</a></li>
      <li><a href="/logout">Sign Out</a></li>
    </ul>
  </li>
{% else %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Welcome</b><b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Signup</a></li>
    </ul>
  </li>
{% endif %} 
{% endblock navigation %} 

{% block content %}

<ol class="breadcrumb" style="margin-bottom: 5px;">
  <li><a href="/home">Home</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/signup">Sign Up</a></li>
  <li><a href="/newpost">New Post</a></li>
  <li><a class="active">Test</a></li>
</ol>

<div id="masthead">
  <div class="row">
    <div class="col-md-7">
      <h1>Blog
          <p class="lead"><i>Pen down your thoughts...</i></p>
        </h1>
    </div>
    </div>

            <div class="modal-content">
                <div class="modal-header">
                  <div class="row">
                    <div class="col-md-2">
                      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" border="0" class="img-circle">
                    </div>
                    <div class="col-md-7">
                      <label class="media-heading">Joe Sixpack <small>USA</small></label>
                    </div>

                <div class="modal-body">
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p>
                    <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about Joe</button>
                    </center>
                </div>
            </div>

<div>
  {% if posts and all_users %}
    {% for each_post in posts %}
      {% for each_user in all_users %}
        {% if each_post.user == each_user.key %}
          User Name :<b>{{ each_user.fullname }}</b> |Title : <b>{{ each_post.title}}</b> | <b>User ID : {{ each_user.key | filterKey }}</b>
          <br>
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endif %}
</div>
{% endblock %}